<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Premier essai</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/vuex"></script>
    <script type="text/javascript" src="/script/elastic.js"></script>
    <script>
        var local = { uri : "localhost:9200", index : "immobilier" },
            remote = { uri : "https://qlap.limics.fr/search/", index : "qlap" };

        var CaloSearch = {
            Client : new elasticsearch.Client({ host: local.uri }),
            Index : local.index
        };
    </script>
</head>
<body>
    <div id="page">
        <searchbox :autofocus="true" :realtime="true" :queries="['batiment.nom']" :placeholder="'Search by ID'"></searchbox>
        <hits></hits>
    </div>
    <script type="text/javascript" src="/script/index.js"></script>
    <script type="text/javascript">
        new Vue({
            el : "#page"
        });
    </script>
</body>
</html>